html, body{
		background-color:#9B5C3A;
		top:0;
		left:0;
		margin:0;
		width: 100%;
		display:flex;
		text-align:center;
		font-family: 'Reenie Beanie', sans-serif;
	}


.fashiontype {
	color: #E9E2DE;
	position: fixed;
	width: 550px;
	height: 124px;
	left: 400px;
	top: -35px;
	font-family: 'Reenie Beanie', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
}

h1 {
	color: #754C29;
	left: 50px;
	font-size: 40px;
	line-height: 122px;
	font-family: 'Pacifico', sans-serif;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease; 
}

	h1:hover {
		letter-spacing: 0.4em;
	}

.bucket {
	position: absolute;
	left: 400px;
	top: 300px;

}

.scarf {
	position: absolute;
	left: 400px;
	top: 1000px;

}

.jordans {
	position: absolute;
	left: 240px;
	top: 1500px;

}

.telfar {
	position: absolute;
	left: 650px;
	top: 2000px;
	transition:0.10s cubic-bezier(0,1.22,.81,1.25);
	cursor:pointer;
	overflow: hidden;

}

.telfar: hover {
	width: 366px;
	height: 415px;
}

